
:root {

  --main-green: #caf2a5;

  --main-red: #eb7758;

  }

.container {
  width: 80%;

}

/*start upper bar */
.top {

  position: sticky;
  z-index: 2;
  top: 0;
}

.upper-bar {
  background-color: var(--main-green);
  color: var(--main-red);
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;

}
.upper-bar .container .row div {
  text-transform: uppercase;
  cursor: pointer;

}
.upper-bar .container .row div:first-of-type span:hover {
  color: white;
}
.upper-bar .container .row div:first-of-type span {
  margin: 8px;
}

@media only screen and (max-width: 900px) {
  .upper-bar .container .row div:first-of-type {
    display: none;
  }
}

.upper-bar .container .row div:last-of-type {
  text-align: right;
}
.upper-bar .container .row div:last-of-type span:hover {
  color: white;
}
.upper-bar .container .row div:last-of-type .red {
  border: 2px solid var(--main-red);
  color: white;
}
.upper-bar .container .row div:last-of-type .red:hover {
  background-color: var(--main-red);
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--main-red);
}

.btn-outline-success {
  color: var(--main-red);
  border-color: var(--main-red);
}
.btn-outline-success:hover {
  background-color: var(--main-red);
}
/*end upper bar */

/*start navbar*/



.navbar-collapse ul {
  margin-left: auto;
}
.navbar-brand span:first-of-type {
   color: var(--main-green);
   font-size: 40px;
   font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .navbar-brand span:first-of-type {
    font-size: 30px;
  }
}
.navbar-brand span:last-of-type {
   color: var(--main-red);
   font-size: 40px;
   font-weight: lighter;
}
.navbar-nav .nav-link {
   font-size: 20px;
   margin-left: 25px;
   color: #08526D;

}



.navbar-nav .nav-link.active {
   color: var(--main-red)!important
}
/*end navbar*/

/* start contact me*/
.contact-me {
  background-color: var(--main-green);
  overflow: hidden;

}
.contact-me .info {
  float: left;
  width: 50%;
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .contact-me .info  {
    display: none;
  }
}
.contact-me .form {
  width: 50%;
  float: left;
  margin-top: 80px;
}


@media only screen and (max-width: 600px) {
  .contact-me .form  {
    width:100%;
  }
}

.contact-me .form label {
  display: block;
  color: var(--main-wight);
  font-size: 20px;
}
.contact-me .form input {
  background-color: #f1eeecab;
  width: 80%;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.contact-me .form input[type="submit"] {
  background-color: var(--main-red) ;
  width: 150px;
  color: #fff;
  border: 0px;
  margin-bottom: 60px;
}
.contact-me .form textarea {
  background-color: #f1eeecab;
  width: 80%;
  height: 200px;
  margin-top: 25px;
}




.contact-me .info h2 {
  color: var(--main-wight);
  margin-left: 20px;
  margin-top: 40px;
  font-size: 30px;
}
.contact-me .info p {
  color: #606569;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.7;
}
.contact-me .info p strong {
  color: var(--main-wight);
  margin-right: 20px;
}

/* end contact me*/
.sending {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sending[hidden] {
  display: none;
}
.sending .status {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.sending .continue {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sending .continue:empty {
  display: none;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
